#disable temporary and log files and dirs
/log/*
!/log/.htaccess
.phpunit.result.cache

#disable private local files
*.local.php

#disable composer-managed libraries
/vendor/
#disable composer lock file
/composer.lock

#disable IDE files
/nbproject/
