<a n:if="$configuration->flag->status('I18n:SHOW_LANGUAGE_SELECTOR')" href="#" class="uls-trigger"><span class="icon">{include file '../../seablast/assets/uls/images/language.svg'}</span>{=''|translate}{$configuration->getString('SB:LANGUAGE')|upper}</a>